.Dictionary h1 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
}
.Dictionary section {
  background: white;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 10px 20px rgb(0 0 0 / 10%);
  margin: 20px 0;
}
.Dictionary input {
  width: 100%;
  font-size: 16px;
  background-image: url(https://cdn2.hubspot.net/hubfs/4004166/bioticresearch_website_assets/images/search_icon.png);
  background-repeat: no-repeat;
  background-position: right center;
  padding: 6px 4px;
  color: #333;
  border: 1px solid #ddd;
  border-radius: 6px;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}
.Dictionary .hint {
  font-size: 13px;
  margin-top: 15px;
}
